@media (max-width: 767px) {
  body {
    #__next {
      > div:first-of-type {
        header {
          > div {
            .heanderContent {
              padding: 1rem max(1.25rem, 1.57vw);
            }

            &:last-child {
              margin-top: -1px;
            }
          }

          &:not(#home) {
            > div {
              .heanderContent {
                > a {
                  margin: 0 2rem;
                }

                button {
                  margin: 0;
                }
              }
            }
          }
        }
      }

      main {
        &#home {
          section,
          aside {
            display: flex;
            justify-content: center;
          }

          section {
            position: relative;
            z-index: 1;

            background: #040714;
            margin-top: -8px;

            aside {
              position: static;

              align-items: center;
              flex-direction: column;

              text-align: center;

              h1 {
                font-size: min(4.5vw, 2.75rem);
              }

              p {
                font-size: min(2.7vw, 1.625rem);
              }

              a {
                min-width: 100%;
                font-size: min(1rem, 2.3vw);
                padding: min(1.8rem, 3vw) 20px;
              }
            }
          }
        }

        &:not(#home) {
          padding: 1.25rem max(1.25rem, 1.57vw);
        }
      }

      footer p {
        height: 60px;
      }
    }
  }
}
