// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body {
    #__next {
      > div {
        header {
          > div {
            border-width: 1px;

            &:first-of-type {
              .heanderContent {
                > div {
                  nav {
                    a {
                      padding: 1.8em 0.6em;
                    }
                  }
                }
              }
            }
            &:last-of-type {
            }
          }
        }
      }

      main {
        max-height: inherit;

        section,
        aside {
          display: flex;
          justify-content: center;
        }

        section {
          position: relative;
          z-index: 1;

          box-shadow: 0px -0px 50px 50px var(--background);
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 40%,
            var(--background) 100%
          );

          aside {
            position: static;

            align-items: center;
            flex-direction: column;

            text-align: center;

            h1 {
              font-size: min(4.5vw, 2.75rem);
            }

            p {
              font-size: min(2.7vw, 1.625rem);
            }

            a {
              max-width: 100%;
              font-size: min(1rem, 2.3vw);
              padding: min(1.8rem, 3vw) 20px;
            }
          }
        }
      }

      footer {
        p {
          height: 60px;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  body {
  }
}
